<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<!--xmlns:th="http://www.w3.org/1999/xhtml"-->
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Lokker</h1>

</head>

<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<h1 > Lokker Beta Cities</h1>
<br>
<br>

<a href="/location?cityid=1"><button value = "City 1">Tampa</button></a>

<a href="/location?cityid=2"><button value = "City 2">St.Petersburg</button></a>

<a href="/location?cityid=3"><button value = "City 3">Sarasota</button></a>



</body>
<footer th:replace="fragments :: footer"></footer>
</html>