<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"  media="screen" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">

<head>
<!--    <title>Welcome to Lokker</title>-->

</head>

<!--<body style="background-color:#ffffff;">-->
<!--<div style="background-color:#ffffff;height:50px;"></div>-->
<!--<div class="container"></div>-->
<!--<div class="row"></div>-->
<!--<div class="col-lg-10 col-xl-9 mx-auto"></div>-->
<!--    <div class="card card-signin flex-row my-5"></div>-->
<!--        <div class="card-img-left d-none d-md-flex"></div>-->
        <!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->


</div>
<div class="container">
    <h1 class="card-title text-center"><span style="background-color: #000000">Welcome to Lokker</h1>

    <form class="form-signin">
            <form th:action="login" method="POST" >
            <h3 class="form-signin-heading" th:text="Login"></h3>
            <br />
    <div class="form-label-group">
    <input type="text" id="username" name="email" th:placeholder="Email" class="form-control" />
    <label for="username"></label>
    </div>

    <br/>
        <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" />
    <br/>
    <br/>
    <br/>

    <button class="button" name="Submit" value="Login" type="Submit" th:text="Login"></button>

        </form>
</div>
</div>
</div>
</body>
</html>